<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to power jumper</title>
    <link rel="stylesheet" href="login.css">
</head>

<body>

    <div id="signup">
        <h2>signup</h2>
        <input type="text" placeholder="name" id="Sname" autocomplete="off"><br>
        <input type="password" placeholder="password" id="Spassword"><br>
        <input type="submit" onclick="Signup()">
    </div>
    <div id="login">
        <h2>login</h2>
        <input type="text" placeholder="name" id="Lname" autocomplete="off"><br>
        <input type="password" placeholder="password" id="Lpassword"><br>
        <input type="submit" onclick="Login()">
    </div>
    <div id="about">
        <h1>Power Jumper</h1>
        <h2>About the Game</h2>
        &nbsp;&nbsp; This game is a life of a box man (who looks like a box) , who have to run continuously for his life. While his journey , there will be obstacles trying to stop him. If the Obstacle that trying to stop him is small , then he can simply jump
        to skip that. But Sometimes the obstacles can be really big , so he can't just jump to pass that. To Pass those very big obstacles , he need to use his special ability he gained by overcoming several generations , "the invisiblity" ability, he
        can pass through that big obstacle if he has applied that ability, but sadly that ability lasts for only 1 second , and he will be blocked by the small obstacle even he has that invisible ability. so that invisible ability is only for big obstacle.
        <br>And he also has a superpower that lasts for 5 seconds, and with that ability he can pass through any obstacles.
        <h3>Login/Signup to start the Game</h3>
        Controls:<br>press "c" to start the game
        <br> Press "spacebar" or "mouse left click" to jump<br> Press "x" to use "invisible ability" while the big block tries to hit you<br>press "s" to activate super power(available if you have 20 points from last super power used and lasts for 5 seconds)<br>If
        you have super power available the player color changes to rose<br> press "p" to pause game
        <br>
        <h3>Scoring Creteria:</h3>
        For every small blocks you have passing , you will gain 1 score<br>For passing every big block you will gain 5 bonus points
    </div>
    <script src="../scripts/login.js"></script>
</body>

</html>